.vs-shadow--sm {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.overlay {
  position: fixed;
  top: inherit;
  height: inherit;
  background-color: rgba(0, 0, 0, 0.35);
  width: 100%;
  left: 0;
}
.vs-dataTable {
  border-collapse: separate;
  border-spacing: 0 10px;
  width: 100%;
}
.vs-dataTable >:not(caption)>*>*  {
  padding: var(--p-4) var(--p-6);
  background-color: #fff;
  color: var(--color-gray-700);
}
.vs-dataTable td {
  text-wrap: nowrap;
  border-bottom: 2px solid var(--color-body);
  border-top: 2px solid var(--color-body);
}
.vs-dataTable td:first-child{
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
  border-left: 2px solid var(--color-body);
}
.vs-dataTable td:last-child {
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
  border-right: 2px solid var(--color-body);
}
.no-scroll {
  overflow: hidden;
}


