.vs-card-statistic {
    display: flex;
    flex-direction: column;
    padding: var(--p-6);
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 1px 9px 20px rgba(0, 0, 0, 0.05);
    border: 2px solid rgba(var(--color-gray-300-rgb), 0.1);
}
.vs-statistic-label {
    color: var(--color-gray-800);
    font-size: 16px;
    margin-bottom: 1rem;    
}
.vs-statistic-value {
    font-weight: bold;
    color: var(--color-gray-800);
    margin-bottom: 0;
}
.vs-statistic-icon {
    color: var(--color-primary);
    font-size: 20px;
}

@media (min-width: 992px) {
    .vs-statistic-icon {
        font-size: 22px;
    }
    .vs-statistic-label {
        font-size: 18px
    }
}